# Challenge: Billboard Top 100 dataset
Este conjunto de datos representa la clasificación semanal de las canciones desde el momento en que ingresan al Billboard Top 100 hasta las 75 semanas siguientes.

### Problemas:
- Los encabezados de las columnas se componen de valores: el número de semana (x1st.week,…)
- Si una canción está en el Top 100 durante menos de 75 semanas, las columnas restantes se llenan con los valores faltantes.

In [ ]:
import pandas as pd

Vamos a importar los datos y a mostrar las primeras 10 filas. ¿Puedes notar cuáles columnas tiene valores en lugar nombres en sus variables?

In [ ]:
df = pd.read_csv("data/billboard.csv", encoding="mac_latin2")
df.head(10)

## 1. Los encabezados de las columnas se componen de valores: el número de semana (x1st.week,…)

Recuerda que el melting es una técnica utilizada cuando un conjunto de columnas con las que contamos corresponden a una misma variable, de tal manera que dichos nombres pasarán a ser valores dentro de una misma columna y sus valores en las celdas también serán almacenados en otra columna contigua.

Intrucciones: En el siguiente bloque de código realiza lo siguiente.
- Crea una lista con los nombres de las columnas que cumplen el criterio de Tidy Data (el nombre de la columna es una variable y no un valor) y almacénala en **id_vars**
- Asigna al argumento **var_name** el nombre "week"
- Asigna al argumento **value_name** el nombre "rank"

In [ ]:
# Melting
id_vars = []

df = pd.melt(frame=df,id_vars=id_vars, var_name="", value_name="")
df

¿Qué es lo que contiene la columna "week"? ¿Qué es lo que contiene la columna "rank"?

### ¡Genial! Ya has convertido los nombres de esas columnas en valores, has cumplido un principio básico de tidy data.

![image.png](https://i.pinimg.com/474x/e7/fe/41/e7fe410c017990839d8ef66f31f4ebe6.jpg)

Bueno, todavía no hemos terminado, fíjate en los valores en la columna "week".
Imagina que permites al usuario ingresar un número para filtrar las observaciones y obtener únicamente las canciones que estuvieron en Billboard 50 semanas pero el parámetro lógicamente será un número, ¿no le pedirías al usuario que escriba "x50th.week" como parámetro de entrada, verdad?... ¡¿verdad?! D:

Limpiemos un poco más esos datos :D

Intrucciones: En el siguiente bloque de código realiza lo siguiente.
- Utiliza el método [extract de str](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.extract.html) sobre la columna **week** y pásale como primer argumento la expresión *(\d+)*. Lo que hará, será extraer solo los número dentro de cada valor. Increíble, ¿no?. Puntos extra: ¿Puedes explicar qué hizo la expresión *(\d+)*?
- Utiliza [.astype](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.astype.html) para convertir la columa entera a **integer**

In [ ]:
# Formatting
df["week"] = df['week'] # Escribe aquí el código para realizar la extracción de caracteres y la conversión 
df["week"]

### Uff, lo anterior fue un poco más complicado pero, ¡lo lograste!
Vamos entonces con lo siguiente:
- Vamos a eliminar las filas con NA en sus celdas. Utiliza .dropna(), por ahora así, a capela, pero te dejo la [documentación](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html) por acá para casos más "especiales".

In [ ]:
df = df.dropna()
df

¿Recuerdas que alteramos la columna **week**? Bueno, vamos a quedarnos con ella y con las columnas que nos interesan. Vamos a reasignar el data frame original.
Solo nos falta una columna, ¿cuál es?

In [ ]:
df = df[["year", 
         "artist.inverted",
         "track",
         "time",
         "genre",
         "____",
         "rank",
         "date.entered"]]
df = df.sort_values(ascending=True, by=["year","artist.inverted","track","week","rank"])

In [ ]:
# Assigning the tidy dataset to a variable for future usage
billboard = df

billboard.head(10)