# Challenge: Múltiples variables almacenadas en una columna.

Vamos a tratar ahora con el siguiente dataset: Registros de tuberculosis de la Organización Mundial de la Salud
Este conjunto de datos documenta el recuento de casos confirmados de tuberculosis por país, año, edad y sexo.

## Problemas:
- Algunas columnas contienen varios valores: sexo y edad.
- Mezcla de ceros y valores perdidos NaN. Esto se debe al proceso de recopilación de datos y la distinción es importante para este conjunto de datos.

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("data/tb-raw.csv")
df

Para ordenar este conjunto de datos, necesitamos eliminar los diferentes valores del encabezado y SEPARARLOS en filas.

### Instrucciones:
- Primero, necesitaremos fusionar las columnas de sexo + grupo de edad en una sola.
- Una vez que tengamos esa única columna, derivaremos tres columnas de ella: sexo, age_lower y age_upper. Con ellos, podremos construir correctamente un conjunto de datos ordenado.

In [ ]:
# Utiliza melt como en primer challenge para realizar el melt sobre las columnas que correspondan

In [ ]:
# Utiliza str.extract como en el primer challenge para separar el género y el rango de edad

In [ ]:
# Renombre las columnas como "sex", "age_lower", "age_upper" según corresponda

In [ ]:
# Crea la columna `age` uniendo los valores de las columnas `age_lower` y `age_upper`

In [ ]:
# Concatenamos los data frames modificados

In [ ]:
# Removemos columnas que ya no son necesarias

## Resultado
Al finalizar, deberías obtener un dataframe similar a este:

![image.png](https://storage.googleapis.com/campus-cvs/lectures/tidyDataChallenge2.PNG)