## Conexión y creación a la base de datos

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect("lesson.db")

In [3]:
conn.close()

In [4]:
conn

In [5]:
with sqlite3.connect("lesson.db") as conn:
    # utilice conn
    pass
conn

## Construyendo base de datos de : Usuarios y sus comentarios

In [6]:
with sqlite3.connect("lesson.db") as conn:
    cursor = conn.cursor()

In [12]:
cursor.execute("CREATE TABLE IF NOT EXISTS user(email text, first_name text, last_name text, address text, age integer, PRIMARY KEY(email))")

In [13]:
cursor.execute("INSERT INTO user VALUES ('bob@example.com', 'Bob', 'Codd', '123 Fantasy lane, Fantasy City', 31)")

In [15]:
cursor.execute("INSERT INTO user VALUES ('tom@web.com', 'Tom', 'Fake', '456 Fantasy lane, Fantasy City', 39)")

IntegrityError: UNIQUE constraint failed: user.email

In [25]:
tables = cursor.execute("select * from sqlite_master where type='table'")
for row in rows:
    print(row)

('table', 'user', 'user', 2, 'CREATE TABLE user(email text, first_name text, last_name text, address text, age integer, PRIMARY KEY(email))')

In [19]:
conn.commit()

In [26]:
rows = cursor.execute("SELECT * FROM user")
for row in rows:
    print(row)

('bob@example.com', 'Bob', 'Codd', '123 Fantasy lane, Fantasy City', 31)
('tom@web.com', 'Tom', 'Fake', '456 Fantasy lane, Fantasy City', 39)

In [27]:
rows = cursor.execute("SELECT email FROM user")
for row in rows:
    print(row)

('bob@example.com',)
('tom@web.com',)

In [28]:
rows = cursor.execute("SELECT age FROM user")
for row in rows:
    print(row)

(31,)
(39,)

In [29]:
rows = cursor.execute("SELECT email, age FROM user ORDER BY age DESC")
for row in rows:
    print(row)

('tom@web.com', 39)
('bob@example.com', 31)

In [30]:
cursor.execute('ALTER TABLE user ADD COLUMN gender text')

In [31]:
conn.commit()

In [39]:
rows = cursor.execute("SELECT * FROM user WHERE user.email='tom@web.com'")
for row in rows:
    print(row)

('tom@web.com', 'Tom', 'Fake', '456 Fantasy lane, Fantasy City', 39, 'M')

In [40]:
# cursor.execute("UPDATE user SET gender='M' WHERE user.email='tom@web.com'")
cursor.execute("UPDATE user SET gender='M'")
conn.commit()

In [41]:
rows = cursor.execute("SELECT * FROM user")
for row in rows:
    print(row)

('bob@example.com', 'Bob', 'Codd', '123 Fantasy lane, Fantasy City', 31, 'M')
('tom@web.com', 'Tom', 'Fake', '456 Fantasy lane, Fantasy City', 39, 'M')

In [44]:
cursor.execute("INSERT INTO user VALUES('shelly@www.com', 'Shelly', 'Milar', '123, Ocean View Lane', 39, 'F')")

In [45]:
conn.commit()

In [46]:
rows = cursor.execute("SELECT * FROM user")
for row in rows:
    print(row)

('bob@example.com', 'Bob', 'Codd', '123 Fantasy lane, Fantasy City', 31, 'M')
('tom@web.com', 'Tom', 'Fake', '456 Fantasy lane, Fantasy City', 39, 'M')
('shelly@www.com', 'Shelly', 'Milar', '123, Ocean View Lane', 39, 'F')

In [61]:
rows = cursor.execute("SELECT ROUND(AVG(age),0) FROM user")
for row in rows:
    print(row)

(36.0,)


### Crear relación con otra tabla

In [64]:
# obligatorio para llaves foranes
cursor.execute('PRAGMA foreign_keys = 1')

In [65]:
sql = """
    CREATE TABLE comments(
        user_id text,
        comments text,
        FOREIGN KEY (user_id) REFERENCES user (email)
        ON DELETE CASCADE ON UPDATE NO ACTION
    )
"""

cursor.execute(sql)

In [69]:
sql = "INSERT INTO comments VALUES ('{}', '{}')"
rows = cursor.execute('SELECT * FROM user ORDER BY age')
for row in rows:
    email = row[0]
    print("Going to create rows for {}".format(email))
    name = row[1] + " " + row[2]
    for i in range(10):
        comment = "This is comment {} by {}".format(i, name)
        conn.cursor().execute(sql.format(email, comment))
conn.commit()

Going to create rows for bob@example.com
Going to create rows for tom@web.com
Going to create rows for shelly@www.com

In [72]:
sql = """
    SELECT * FROM comments JOIN user
    ON comments.user_id = user.email
    WHERE user.email = 'bob@example.com'
"""
rows = cursor.execute(sql)
for row in rows:
    print(row)

('bob@example.com', 'This is comment 0 by Bob Codd', 'bob@example.com', 'Bob', 'Codd', '123 Fantasy lane, Fantasy City', 31, 'M')
('bob@example.com', 'This is comment 1 by Bob Codd', 'bob@example.com', 'Bob', 'Codd', '123 Fantasy lane, Fantasy City', 31, 'M')
('bob@example.com', 'This is comment 2 by Bob Codd', 'bob@example.com', 'Bob', 'Codd', '123 Fantasy lane, Fantasy City', 31, 'M')
('bob@example.com', 'This is comment 3 by Bob Codd', 'bob@example.com', 'Bob', 'Codd', '123 Fantasy lane, Fantasy City', 31, 'M')
('bob@example.com', 'This is comment 4 by Bob Codd', 'bob@example.com', 'Bob', 'Codd', '123 Fantasy lane, Fantasy City', 31, 'M')
('bob@example.com', 'This is comment 5 by Bob Codd', 'bob@example.com', 'Bob', 'Codd', '123 Fantasy lane, Fantasy City', 31, 'M')
('bob@example.com', 'This is comment 6 by Bob Codd', 'bob@example.com', 'Bob', 'Codd', '123 Fantasy lane, Fantasy City', 31, 'M')
('bob@example.com', 'This is comment 7 by Bob Codd', 'bob@example.com', 'Bob', 'Codd', '123 Fantasy lane, Fantasy City', 31, 'M')
('bob@example.com', 'This is comment 8 by Bob Codd', 'bob@example.com', 'Bob', 'Codd', '123 Fantasy lane, Fantasy City', 31, 'M')
('bob@example.com', 'This is comment 9 by Bob Codd', 'bob@example.com', 'Bob', 'Codd', '123 Fantasy lane, Fantasy City', 31, 'M')
('bob@example.com', 'This is comment 0 by Bob Codd', 'bob@example.com', 'Bob', 'Codd', '123 Fantasy lane, Fantasy City', 31, 'M')
('bob@example.com', 'This is comment 1 by Bob Codd', 'bob@example.com', 'Bob', 'Codd', '123 Fantasy lane, Fantasy City', 31, 'M')
('bob@example.com', 'This is comment 2 by Bob Codd', 'bob@example.com', 'Bob', 'Codd', '123 Fantasy lane, Fantasy City', 31, 'M')
('bob@example.com', 'This is comment 3 by Bob Codd', 'bob@example.com', 'Bob', 'Codd', '123 Fantasy lane, Fantasy City', 31, 'M')
('bob@example.com', 'This is comment 4 by Bob Codd', 'bob@example.com', 'Bob', 'Codd', '123 Fantasy lane, Fantasy City', 31, 'M')
('bob@example.com', 'This is comment 5 by Bob Codd', 'bob@example.com', 'Bob', 'Codd', '123 Fantasy lane, Fantasy City', 31, 'M')
('bob@example.com', 'This is comment 6 by Bob Codd', 'bob@example.com', 'Bob', 'Codd', '123 Fantasy lane, Fantasy City', 31, 'M')
('bob@example.com', 'This is comment 7 by Bob Codd', 'bob@example.com', 'Bob', 'Codd', '123 Fantasy lane, Fantasy City', 31, 'M')
('bob@example.com', 'This is comment 8 by Bob Codd', 'bob@example.com', 'Bob', 'Codd', '123 Fantasy lane, Fantasy City', 31, 'M')
('bob@example.com', 'This is comment 9 by Bob Codd', 'bob@example.com', 'Bob', 'Codd', '123 Fantasy lane, Fantasy City', 31, 'M')

In [75]:
rows = cursor.execute("SELECT COUNT(*) FROM comments")
for row in rows:
    print(row)

(60,)

# Ejercicio

¿Cuál es el recuento de personas pertenecientes a diferentes grupos de edad en la tabla de personas?

¿Qué grupo de edad tiene el número máximo de personas?

¿Cuántas personas no tienen apellido?

¿Cuántas personas tienen más de una mascota?

¿Cuántas mascotas han recibido tratamiento?

¿Cuántas mascotas han recibido tratamiento y se conoce el tipo de mascota?

¿Cuántas mascotas son de la ciudad llamada puerto este?

¿Cuántas mascotas son de la ciudad llamada puerto este y quiénes recibieron tratamiento?

### Descripciones de las tablas

La tabla de personas se define de la siguiente manera:

first_name: el nombre de la persona
last_name: el apellido de la persona (puede ser nulo)
age: la edad de la persona
ciudad: la ciudad de donde son
zip_code: el código postal de la ciudad
Como podemos ver, la columna de identificación en la tabla de personas (que es un número entero) sirve como la clave principal para esa tabla y como una clave externa para la tabla de mascotas, que está vinculada a través de la columna owner_id.

La tabla de mascotas se define de la siguiente manera:

pet_name: el nombre de la mascota.
pet_type: Qué tipo de mascota es, por ejemplo, gato o perro. Debido a la falta de información adicional, no sabemos qué número representa qué, pero es un número entero y puede ser nulo.
treatment_done: Esta es también una columna de números enteros, y 0 aquí representa No, mientras que 1 representa Sí.

In [81]:
# Te regalo la primer linea :D
with sqlite3.connect("petsdb") as conn:
    cursor = conn.cursor()